<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Countries</key>
	<dict>
		<key>Country</key>
		<array>
			<dict>
				<key>-CountryCode</key>
				<string>AF</string>
				<key>-CountryId</key>
				<string>501</string>
				<key>-CountryName</key>
				<string>Afghanistan</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>DZ</string>
				<key>-CountryId</key>
				<string>503</string>
				<key>-CountryName</key>
				<string>Algeria</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>AS</string>
				<key>-CountryId</key>
				<string>504</string>
				<key>-CountryName</key>
				<string>America</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>AD</string>
				<key>-CountryId</key>
				<string>505</string>
				<key>-CountryName</key>
				<string>Andorra</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>AO</string>
				<key>-CountryId</key>
				<string>506</string>
				<key>-CountryName</key>
				<string>Angola</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>AR</string>
				<key>-CountryId</key>
				<string>508</string>
				<key>-CountryName</key>
				<string>Argentina</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>AM</string>
				<key>-CountryId</key>
				<string>509</string>
				<key>-CountryName</key>
				<string>Armenia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>AU</string>
				<key>-CountryId</key>
				<string>511</string>
				<key>-CountryName</key>
				<string>Australia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>AT</string>
				<key>-CountryId</key>
				<string>512</string>
				<key>-CountryName</key>
				<string>Austria</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>BH</string>
				<key>-CountryId</key>
				<string>515</string>
				<key>-CountryName</key>
				<string>Bahrain</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>BD</string>
				<key>-CountryId</key>
				<string>516</string>
				<key>-CountryName</key>
				<string>Bangladesh</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>BB</string>
				<key>-CountryId</key>
				<string>517</string>
				<key>-CountryName</key>
				<string>Barbados</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>BY</string>
				<key>-CountryId</key>
				<string>520</string>
				<key>-CountryName</key>
				<string>Belarus</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>BE</string>
				<key>-CountryId</key>
				<string>521</string>
				<key>-CountryName</key>
				<string>Belgium</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>BZ</string>
				<key>-CountryId</key>
				<string>522</string>
				<key>-CountryName</key>
				<string>Belize</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>BT</string>
				<key>-CountryId</key>
				<string>524</string>
				<key>-CountryName</key>
				<string>Bhutan</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>BO</string>
				<key>-CountryId</key>
				<string>703</string>
				<key>-CountryName</key>
				<string>Bolivia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>BC</string>
				<key>-CountryId</key>
				<string>525</string>
				<key>-CountryName</key>
				<string>Bosnia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>BW</string>
				<key>-CountryId</key>
				<string>526</string>
				<key>-CountryName</key>
				<string>Botswana</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>BR</string>
				<key>-CountryId</key>
				<string>527</string>
				<key>-CountryName</key>
				<string>Brazil</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>BN</string>
				<key>-CountryId</key>
				<string>529</string>
				<key>-CountryName</key>
				<string>Brunei</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>BG</string>
				<key>-CountryId</key>
				<string>530</string>
				<key>-CountryName</key>
				<string>Bulgaria</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>BF</string>
				<key>-CountryId</key>
				<string>531</string>
				<key>-CountryName</key>
				<string>Burkina Faso</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>BI</string>
				<key>-CountryId</key>
				<string>533</string>
				<key>-CountryName</key>
				<string>Burundi</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>KH</string>
				<key>-CountryId</key>
				<string>535</string>
				<key>-CountryName</key>
				<string>Cambodia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>CA</string>
				<key>-CountryId</key>
				<string>537</string>
				<key>-CountryName</key>
				<string>Canada</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>CP</string>
				<key>-CountryId</key>
				<string>538</string>
				<key>-CountryName</key>
				<string>Cape Verde</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>KY</string>
				<key>-CountryId</key>
				<string>539</string>
				<key>-CountryName</key>
				<string>Cayman Islands</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>CL</string>
				<key>-CountryId</key>
				<string>541</string>
				<key>-CountryName</key>
				<string>Chile</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>CN</string>
				<key>-CountryId</key>
				<string>542</string>
				<key>-CountryName</key>
				<string>China</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>CO</string>
				<key>-CountryId</key>
				<string>543</string>
				<key>-CountryName</key>
				<string>Colombia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>CK</string>
				<key>-CountryId</key>
				<string>546</string>
				<key>-CountryName</key>
				<string>Cook Islands</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>CR</string>
				<key>-CountryId</key>
				<string>547</string>
				<key>-CountryName</key>
				<string>Costa Rica</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>HR</string>
				<key>-CountryId</key>
				<string>548</string>
				<key>-CountryName</key>
				<string>Croatia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>CU</string>
				<key>-CountryId</key>
				<string>549</string>
				<key>-CountryName</key>
				<string>Cuba</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>CY</string>
				<key>-CountryId</key>
				<string>550</string>
				<key>-CountryName</key>
				<string>Cyprus</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>CZ</string>
				<key>-CountryId</key>
				<string>551</string>
				<key>-CountryName</key>
				<string>Czech</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>DJ</string>
				<key>-CountryId</key>
				<string>553</string>
				<key>-CountryName</key>
				<string>Djibouti</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>DO</string>
				<key>-CountryId</key>
				<string>554</string>
				<key>-CountryName</key>
				<string>Dominica</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>EC</string>
				<key>-CountryId</key>
				<string>557</string>
				<key>-CountryName</key>
				<string>Ecuador</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>EG</string>
				<key>-CountryId</key>
				<string>558</string>
				<key>-CountryName</key>
				<string>Egypt</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>ER</string>
				<key>-CountryId</key>
				<string>560</string>
				<key>-CountryName</key>
				<string>Eritrea</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>EE</string>
				<key>-CountryId</key>
				<string>561</string>
				<key>-CountryName</key>
				<string>Estonia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>ET</string>
				<key>-CountryId</key>
				<string>562</string>
				<key>-CountryName</key>
				<string>Ethiopia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>FJ</string>
				<key>-CountryId</key>
				<string>564</string>
				<key>-CountryName</key>
				<string>Fiji</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>FN</string>
				<key>-CountryId</key>
				<string>566</string>
				<key>-CountryName</key>
				<string>Finland</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>GA</string>
				<key>-CountryId</key>
				<string>568</string>
				<key>-CountryName</key>
				<string>Gabon</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>GM</string>
				<key>-CountryId</key>
				<string>569</string>
				<key>-CountryName</key>
				<string>Gambia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>GE</string>
				<key>-CountryId</key>
				<string>570</string>
				<key>-CountryName</key>
				<string>Georgia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>DE</string>
				<key>-CountryId</key>
				<string>571</string>
				<key>-CountryName</key>
				<string>Germany</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>GH</string>
				<key>-CountryId</key>
				<string>572</string>
				<key>-CountryName</key>
				<string>Ghana</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>GL</string>
				<key>-CountryId</key>
				<string>574</string>
				<key>-CountryName</key>
				<string>Greenland</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>GD</string>
				<key>-CountryId</key>
				<string>575</string>
				<key>-CountryName</key>
				<string>Grenada</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>GT</string>
				<key>-CountryId</key>
				<string>576</string>
				<key>-CountryName</key>
				<string>Guatemala</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>GW</string>
				<key>-CountryId</key>
				<string>577</string>
				<key>-CountryName</key>
				<string>Guiana</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>GY</string>
				<key>-CountryId</key>
				<string>580</string>
				<key>-CountryName</key>
				<string>Guyana</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>HT</string>
				<key>-CountryId</key>
				<string>581</string>
				<key>-CountryName</key>
				<string>Haiti</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>HN</string>
				<key>-CountryId</key>
				<string>582</string>
				<key>-CountryName</key>
				<string>Honduras</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>HU</string>
				<key>-CountryId</key>
				<string>583</string>
				<key>-CountryName</key>
				<string>Hungary</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>IS</string>
				<key>-CountryId</key>
				<string>584</string>
				<key>-CountryName</key>
				<string>Iceland</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>IN</string>
				<key>-CountryId</key>
				<string>585</string>
				<key>-CountryName</key>
				<string>India</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>ID</string>
				<key>-CountryId</key>
				<string>586</string>
				<key>-CountryName</key>
				<string>Indonesia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>IR</string>
				<key>-CountryId</key>
				<string>587</string>
				<key>-CountryName</key>
				<string>Iran</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>IQ</string>
				<key>-CountryId</key>
				<string>588</string>
				<key>-CountryName</key>
				<string>Iraq</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>IT</string>
				<key>-CountryId</key>
				<string>590</string>
				<key>-CountryName</key>
				<string>Italy</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>CI</string>
				<key>-CountryId</key>
				<string>591</string>
				<key>-CountryName</key>
				<string>Ivory</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>JM</string>
				<key>-CountryId</key>
				<string>592</string>
				<key>-CountryName</key>
				<string>Jamaica</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>JP</string>
				<key>-CountryId</key>
				<string>593</string>
				<key>-CountryName</key>
				<string>Japan</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>JO</string>
				<key>-CountryId</key>
				<string>594</string>
				<key>-CountryName</key>
				<string>Jordan</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>KZ</string>
				<key>-CountryId</key>
				<string>595</string>
				<key>-CountryName</key>
				<string>Kazakhstan</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>KE</string>
				<key>-CountryId</key>
				<string>596</string>
				<key>-CountryName</key>
				<string>Kenya</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>KI</string>
				<key>-CountryId</key>
				<string>597</string>
				<key>-CountryName</key>
				<string>Kiribati</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>KR</string>
				<key>-CountryId</key>
				<string>599</string>
				<key>-CountryName</key>
				<string>Korea</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>KW</string>
				<key>-CountryId</key>
				<string>602</string>
				<key>-CountryName</key>
				<string>Kuwait</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>LA</string>
				<key>-CountryId</key>
				<string>604</string>
				<key>-CountryName</key>
				<string>Laos</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>LV</string>
				<key>-CountryId</key>
				<string>605</string>
				<key>-CountryName</key>
				<string>Latvia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>LB</string>
				<key>-CountryId</key>
				<string>606</string>
				<key>-CountryName</key>
				<string>Lebanon</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>LY</string>
				<key>-CountryId</key>
				<string>607</string>
				<key>-CountryName</key>
				<string>Libya</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>LT</string>
				<key>-CountryId</key>
				<string>608</string>
				<key>-CountryName</key>
				<string>Lithuania</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>LU</string>
				<key>-CountryId</key>
				<string>609</string>
				<key>-CountryName</key>
				<string>Luxembourg</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>MK</string>
				<key>-CountryId</key>
				<string>610</string>
				<key>-CountryName</key>
				<string>Macedonia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>MW</string>
				<key>-CountryId</key>
				<string>612</string>
				<key>-CountryName</key>
				<string>Malawi</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>MY</string>
				<key>-CountryId</key>
				<string>613</string>
				<key>-CountryName</key>
				<string>Malaysia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>MV</string>
				<key>-CountryId</key>
				<string>614</string>
				<key>-CountryName</key>
				<string>Maldives</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>ML</string>
				<key>-CountryId</key>
				<string>615</string>
				<key>-CountryName</key>
				<string>Malia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>MT</string>
				<key>-CountryId</key>
				<string>616</string>
				<key>-CountryName</key>
				<string>Malta</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>MH</string>
				<key>-CountryId</key>
				<string>617</string>
				<key>-CountryName</key>
				<string>Marshall Islands</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>MR</string>
				<key>-CountryId</key>
				<string>618</string>
				<key>-CountryName</key>
				<string>Mauritania</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>MR</string>
				<key>-CountryId</key>
				<string>619</string>
				<key>-CountryName</key>
				<string>Mauritius</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>MX</string>
				<key>-CountryId</key>
				<string>620</string>
				<key>-CountryName</key>
				<string>Mexico</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>MD</string>
				<key>-CountryId</key>
				<string>622</string>
				<key>-CountryName</key>
				<string>Moldova</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>MN</string>
				<key>-CountryId</key>
				<string>624</string>
				<key>-CountryName</key>
				<string>Mongolia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>MS</string>
				<key>-CountryId</key>
				<string>625</string>
				<key>-CountryName</key>
				<string>Montserrat</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>MA</string>
				<key>-CountryId</key>
				<string>626</string>
				<key>-CountryName</key>
				<string>Morocco</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>MZ</string>
				<key>-CountryId</key>
				<string>627</string>
				<key>-CountryName</key>
				<string>Mozambique</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>NA</string>
				<key>-CountryId</key>
				<string>628</string>
				<key>-CountryName</key>
				<string>Namibia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>NR</string>
				<key>-CountryId</key>
				<string>630</string>
				<key>-CountryName</key>
				<string>Nauru</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>NP</string>
				<key>-CountryId</key>
				<string>631</string>
				<key>-CountryName</key>
				<string>Nepal</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>NZ</string>
				<key>-CountryId</key>
				<string>632</string>
				<key>-CountryName</key>
				<string>New Zealand</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>NI</string>
				<key>-CountryId</key>
				<string>633</string>
				<key>-CountryName</key>
				<string>Nicaragua</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>NG</string>
				<key>-CountryId</key>
				<string>634</string>
				<key>-CountryName</key>
				<string>Nigeriea</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>NU</string>
				<key>-CountryId</key>
				<string>635</string>
				<key>-CountryName</key>
				<string>Niue</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>NO</string>
				<key>-CountryId</key>
				<string>636</string>
				<key>-CountryName</key>
				<string>Norway</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>OM</string>
				<key>-CountryId</key>
				<string>637</string>
				<key>-CountryName</key>
				<string>Oman</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>OT</string>
				<key>-CountryId</key>
				<string>638</string>
				<key>-CountryName</key>
				<string>Other</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>PK</string>
				<key>-CountryId</key>
				<string>639</string>
				<key>-CountryName</key>
				<string>Pakistan</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>PW</string>
				<key>-CountryId</key>
				<string>640</string>
				<key>-CountryName</key>
				<string>Palau</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>PN</string>
				<key>-CountryId</key>
				<string>641</string>
				<key>-CountryName</key>
				<string>Palestine</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>PA</string>
				<key>-CountryId</key>
				<string>642</string>
				<key>-CountryName</key>
				<string>Panama</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>PG</string>
				<key>-CountryId</key>
				<string>643</string>
				<key>-CountryName</key>
				<string>Papua New Guinea</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>PY</string>
				<key>-CountryId</key>
				<string>644</string>
				<key>-CountryName</key>
				<string>Paraguay</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>PE</string>
				<key>-CountryId</key>
				<string>645</string>
				<key>-CountryName</key>
				<string>Peru</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>PH</string>
				<key>-CountryId</key>
				<string>646</string>
				<key>-CountryName</key>
				<string>Philippines</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>PT</string>
				<key>-CountryId</key>
				<string>648</string>
				<key>-CountryName</key>
				<string>Portugal</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>PR</string>
				<key>-CountryId</key>
				<string>649</string>
				<key>-CountryName</key>
				<string>Puerto Rico</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>QA</string>
				<key>-CountryId</key>
				<string>650</string>
				<key>-CountryName</key>
				<string>Qatar</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>RO</string>
				<key>-CountryId</key>
				<string>651</string>
				<key>-CountryName</key>
				<string>Romania</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>RU</string>
				<key>-CountryId</key>
				<string>652</string>
				<key>-CountryName</key>
				<string>Russia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>RW</string>
				<key>-CountryId</key>
				<string>653</string>
				<key>-CountryName</key>
				<string>Rwanda</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>SM</string>
				<key>-CountryId</key>
				<string>657</string>
				<key>-CountryName</key>
				<string>San Marino</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>ST</string>
				<key>-CountryId</key>
				<string>658</string>
				<key>-CountryName</key>
				<string>Sao Tomé</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>SA</string>
				<key>-CountryId</key>
				<string>659</string>
				<key>-CountryName</key>
				<string>Saudi Arabia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>SN</string>
				<key>-CountryId</key>
				<string>660</string>
				<key>-CountryName</key>
				<string>Senegal</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>SC</string>
				<key>-CountryId</key>
				<string>662</string>
				<key>-CountryName</key>
				<string>Seychelles</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>SL</string>
				<key>-CountryId</key>
				<string>663</string>
				<key>-CountryName</key>
				<string>Sierra Leone</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>SG</string>
				<key>-CountryId</key>
				<string>664</string>
				<key>-CountryName</key>
				<string>Singapore</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>SI</string>
				<key>-CountryId</key>
				<string>666</string>
				<key>-CountryName</key>
				<string>Slovenia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>SO</string>
				<key>-CountryId</key>
				<string>667</string>
				<key>-CountryName</key>
				<string>Somalia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>ZA</string>
				<key>-CountryId</key>
				<string>668</string>
				<key>-CountryName</key>
				<string>South Africa</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>LK</string>
				<key>-CountryId</key>
				<string>670</string>
				<key>-CountryName</key>
				<string>Sri Lanka</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>SD</string>
				<key>-CountryId</key>
				<string>673</string>
				<key>-CountryName</key>
				<string>Sudan</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>SR</string>
				<key>-CountryId</key>
				<string>674</string>
				<key>-CountryName</key>
				<string>Suriname</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>SZ</string>
				<key>-CountryId</key>
				<string>675</string>
				<key>-CountryName</key>
				<string>Swaziland</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>SE</string>
				<key>-CountryId</key>
				<string>676</string>
				<key>-CountryName</key>
				<string>Sweden</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>CH</string>
				<key>-CountryId</key>
				<string>677</string>
				<key>-CountryName</key>
				<string>Switzerland</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>SY</string>
				<key>-CountryId</key>
				<string>678</string>
				<key>-CountryName</key>
				<string>Syria</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>TW</string>
				<key>-CountryId</key>
				<string>679</string>
				<key>-CountryName</key>
				<string>Taiwan</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>TJ</string>
				<key>-CountryId</key>
				<string>680</string>
				<key>-CountryName</key>
				<string>Tajikistan</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>TZ</string>
				<key>-CountryId</key>
				<string>681</string>
				<key>-CountryName</key>
				<string>Tanzania</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>TH</string>
				<key>-CountryId</key>
				<string>682</string>
				<key>-CountryName</key>
				<string>Thailand</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>TO</string>
				<key>-CountryId</key>
				<string>685</string>
				<key>-CountryName</key>
				<string>Tonga</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>TN</string>
				<key>-CountryId</key>
				<string>687</string>
				<key>-CountryName</key>
				<string>Tunisia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>TR</string>
				<key>-CountryId</key>
				<string>688</string>
				<key>-CountryName</key>
				<string>Turkey</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>TM</string>
				<key>-CountryId</key>
				<string>689</string>
				<key>-CountryName</key>
				<string>Turkmenistan</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>AE</string>
				<key>-CountryId</key>
				<string>691</string>
				<key>-CountryName</key>
				<string>United Arab Emirates</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>UG</string>
				<key>-CountryId</key>
				<string>692</string>
				<key>-CountryName</key>
				<string>Uganda</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>UA</string>
				<key>-CountryId</key>
				<string>693</string>
				<key>-CountryName</key>
				<string>Ukraine</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>UY</string>
				<key>-CountryId</key>
				<string>694</string>
				<key>-CountryName</key>
				<string>Uruguay</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>UZ</string>
				<key>-CountryId</key>
				<string>695</string>
				<key>-CountryName</key>
				<string>Uzbekistan</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>VU</string>
				<key>-CountryId</key>
				<string>696</string>
				<key>-CountryName</key>
				<string>Vanuatu</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>VE</string>
				<key>-CountryId</key>
				<string>697</string>
				<key>-CountryName</key>
				<string>Venezuela</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>VN</string>
				<key>-CountryId</key>
				<string>698</string>
				<key>-CountryName</key>
				<string>Vietnam</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>YE</string>
				<key>-CountryId</key>
				<string>700</string>
				<key>-CountryName</key>
				<string>Yemen</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>ZM</string>
				<key>-CountryId</key>
				<string>701</string>
				<key>-CountryName</key>
				<string>Zambia</string>
			</dict>
			<dict>
				<key>-CountryCode</key>
				<string>ZW</string>
				<key>-CountryId</key>
				<string>702</string>
				<key>-CountryName</key>
				<string>Zimbabwe</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
